    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About ZumbaBunny</h2>
                <span class="leftalign">
                  <p>ZumbaBunny is a nickname for Naomi Yang. I was born in Seoul, Korea and was raised in both Seoul and Los Angeles, California. I had a huge obsession in dancing so I wanted to become a dancer. With this obsession, I ended up majoring dance at university in Korea and eventually figured out that dancing has been and will be a fueling element to my life. Because of LA's developed fitness industry and the amazing weather, I became to love fitness as much as I love dancing. I literally lived in my local gym all day. When I first took a Zumba class, I was like &ldquo;Whoa, dancing and fitness all together? This is it!&rdquo; I got deeply engaged to Zumba because it had both of what I love.</p>
                  <p>After Zumba became a part of my life, I am happier than ever, and everyday is like a party to me. It is such a blessing that I found Zumba, which now became my life career. It is a still my dream to deliver this great fitness dance program to people and it is my deepest pleasure to make people smile and happy through Zumba.</p>
                </span>
            </div>
        </div>
    </section>
