    <!-- Class Schedule Section -->
    <section id="class" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Class Schedule</h2>
                <div id="calendar">
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Mon</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">10AM-10:50AM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">The Classic Bodylab</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map0" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map0" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo4YVRMKlfDURsOdTcNK5j0A&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Mon</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">9PM-9:50PM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Vant Gym</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map1" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map1" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=vantgym%20seoul&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Tue</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">11AM-11:50AM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Eonnam Culture and Sports Center</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map2" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map2" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJi_TYZ8ymfDURAScdv4-gEmU&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Tue</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">8PM-8:50PM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Fitness Lounge</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map3" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map3" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=513%20Jagok-dong%20Gangnam-gu%2C%20Seoul&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Wed</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">7AM-7:50AM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Shilla Hotel</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map4" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map4" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJHYKVLQWjfDURapWCYl4xDwA&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Wed</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">10AM-10:50AM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Private Lesson</span></div>
                    <div class="col-xs-2 calendar-map"><span class="calendar-column">---</span></div>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Wed</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">6:50PM-7:30PM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">SK Planet</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map5" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map5" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%EA%B2%BD%EA%B8%B0%EB%8F%84%20%EC%84%B1%EB%82%A8%EC%8B%9C%20%EB%B6%84%EB%8B%B9%EA%B5%AC%20%ED%8C%90%EA%B5%90%EB%A1%9C%20264(%EC%82%BC%ED%8F%89%EB%8F%99)%20&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Wed</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">9PM-9:50PM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Vant Gym</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map6" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map6" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=vantgym%20seoul&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Thu</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">11AM-11:50AM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Eonnam Culture and Sports Center</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map7" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map7" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJi_TYZ8ymfDURAScdv4-gEmU&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Thu</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">8PM-8:50PM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Fitness Lounge</span></div>
                    <div class="col-xs-2 calendar-map">
                      <a href="#map8" data-toggle="collapse"><span class="calendar-column">map</span></a>
                    </div>
                  </div>
                  <div id="map8" class="row calendar-map collapse">
                    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=513%20Jagok-dong%20Gangnam-gu%2C%20Seoul&key=AIzaSyAI4WkmobuvTrRBrL7byq97vLHcqdeI97Q" allowfullscreen></iframe>
                  </div>
                  <div class="row calendar-entry">
                    <div class="col-xs-2 calendar-icon"><div class="zumbaicon"></div></div>
                    <div class="col-xs-2 calendar-day"><span class="calendar-column">Fri</span></div>
                    <div class="col-xs-3 calendar-time"><span class="calendar-column">10AM-10:50AM</span></div>
                    <div class="col-xs-3 calendar-location"><span class="calendar-column">Private Lesson</span></div>
                    <div class="col-xs-2 calendar-map"><span class="calendar-column">---</span></div>
                  </div>
                </div>
            </div>
        </div>
    </section>
