    <!-- Zumba Life Section -->
    <section id="zumba" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Zumba Life</h2>
                <div class="container">
                  <div class="nav nav-pills row">
                    <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-1">
                      <a data-toggle="pill" href="#picturealbum">
                        <img src="/img/zumba_in_action_button.jpg" width="100%"></img>
                      </a>
                    </div>
                    <div class="col-xs-6 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
                      <a data-toggle="pill" href="#newsandevents">
                        <img src="/img/news_and_events_button.jpg" width="100%"></img>
                      </a></div>
                  </div>

                  <div class="tab-content">
                    <div id="picturealbum" class="tab-pane fade">
                      <div class="col-xs-12 col-lg-8">
                        <p></p>

                        <img width="100%" alt="Park Hyatt Christmas Party" src="/img/album/13-Park-Hyatt-Christmas-Party.jpg"></img>
                        <p>Park Hyatt Christmas Party</p>

                        <img width="100%" alt="Master class in London" src="/img/album/11-Master-Class-in-London.jpg"></img>
                        <p>Master class in London</p>

                        <img width="100%" alt="Zumba in London" src="/img/album/10-Zumba-in-London.jpg"></img>
                        <p>Zumba in London</p>

                        <img width="100%" alt="Back to 80's Zumba Party" src="/img/album/09-Back-to-80's-Zumba-Party.jpg"></img>

                        <img width="100%" alt="Back to 80's Zumba Party" src="/img/album/08-Back-to-80's-Zumba-Party.jpg"></img>

                        <img width="100%" alt="Back to 80's Zumba Party" src="/img/album/07-Back-to-80's-Zumba-Party.jpg"></img>

                        <img width="100%" alt="Back to 80's Zumba Party" src="/img/album/06-Back-to-80's-Zumba-Party.jpg"></img>

                        <img width="100%" alt="Back to 80's Zumba Party" src="/img/album/05-Back-to-80's-Zumba-Party.jpg"></img>

                        <img width="100%" alt="Back to 80's Zumba Party" src="/img/album/04-Back-to-80's-Zumba-Party.jpg"></img>
                        <p>Back to 80's Zumba Party</p>

                        <img width="100%" alt="Nana's Jam Session" src="/img/album/03-Nana's-Jam-Session.jpg"></img>
                        <p>Nana's Jam Session</p>

                        <img width="100%" alt="LA Fit Expo 2015" src="/img/album/01-LA-Fit-Expo-2015.jpg"></img>
                        <p>LA Fit Expo 2015</p>
                      </div>
                    </div>
                    <div id="newsandevents" class="tab-pane fade">
                      <p></p>
                      <div class="newspost"><p>Zumba Wear In Korea<br><a href="http://www.zumbamamik.com/">link</a><p></div>
                      <div class="newspost"><p>Official Zumba Website<br><a href="http://www.zumba.com/">read more</a><p></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
